<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistracijaServlet</servlet-name>
        <servlet-class>obrada.RegistracijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PretragaDogadjajaServlet</servlet-name>
        <servlet-class>obrada.PretragaDogadjajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtkazivanjeRezervacijeServlet</servlet-name>
        <servlet-class>obrada.OtkazivanjeRezervacijeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KupovinaUlaznicaServlet</servlet-name>
        <servlet-class>obrada.KupovinaUlaznicaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OdobravanjeZahtevaServlet</servlet-name>
        <servlet-class>obrada.OdobravanjeZahtevaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoviKorisnikServlet</servlet-name>
        <servlet-class>obrada.NoviKorisnikServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmenaDogadjajaServlet</servlet-name>
        <servlet-class>obrada.IzmenaDogadjajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrijavaServlet</servlet-name>
        <servlet-class>obrada.PrijavaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>obrada.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrijavljenBlagajnikServlet</servlet-name>
        <servlet-class>obrada.PrijavljenBlagajnikServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrijavljenAdministratorServlet</servlet-name>
        <servlet-class>obrada.PrijavljenAdministratorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MojeUlazniceServlet</servlet-name>
        <servlet-class>obrada.MojeUlazniceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SacuvajDogadjajServlet</servlet-name>
        <servlet-class>obrada.SacuvajDogadjajServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KategorijeUlaznicaServlet</servlet-name>
        <servlet-class>obrada.KategorijeUlaznicaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmenaStruktureServlet</servlet-name>
        <servlet-class>obrada.IzmenaStruktureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SacuvajKategorijuServlet</servlet-name>
        <servlet-class>obrada.SacuvajKategorijuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DogadjajPojedinacnoServlet</servlet-name>
        <servlet-class>obrada.DogadjajPojedinacnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SacuvajRezervacijuServlet</servlet-name>
        <servlet-class>obrada.SacuvajRezervacijuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjeStruktureServlet</servlet-name>
        <servlet-class>obrada.BrisanjeStruktureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledBlokiranihKorisnikaServlet</servlet-name>
        <servlet-class>obrada.PregledBlokiranihKorisnikaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveraRegistrovanogKorisnikaServlet</servlet-name>
        <servlet-class>obrada.ProveraRegistrovanogKorisnikaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PotvrdaRezervacijeServlet</servlet-name>
        <servlet-class>obrada.PotvrdaRezervacijeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveraPrijavljenServlet</servlet-name>
        <servlet-class>obrada.ProveraPrijavljenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveraRegistrovanServlet</servlet-name>
        <servlet-class>obrada.ProveraRegistrovanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OdjavaServlet</servlet-name>
        <servlet-class>obrada.OdjavaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromenaLozinkeServlet</servlet-name>
        <servlet-class>obrada.PromenaLozinkeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoviDogadjajServlet</servlet-name>
        <servlet-class>obrada.NoviDogadjajServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SacuvajKorisnikaServlet</servlet-name>
        <servlet-class>obrada.SacuvajKorisnikaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SacuvajMediaServlet</servlet-name>
        <servlet-class>obrada.SacuvajMediaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UcitajMediaServlet</servlet-name>
        <servlet-class>obrada.UcitajMediaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MediaServlet</servlet-name>
        <servlet-class>obrada.MediaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaStrukturaServlet</servlet-name>
        <servlet-class>obrada.NovaStrukturaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KontrolaServlet</servlet-name>
        <servlet-class>obrada.KontrolaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaIzmenaDogadjajaServlet</servlet-name>
        <servlet-class>obrada.NovaIzmenaDogadjajaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistracijaServlet</servlet-name>
        <url-pattern>/registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PretragaDogadjajaServlet</servlet-name>
        <url-pattern>/pretragaDogadjaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtkazivanjeRezervacijeServlet</servlet-name>
        <url-pattern>/otkazivanjeRezervacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KupovinaUlaznicaServlet</servlet-name>
        <url-pattern>/kupovinaUlaznica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OdobravanjeZahtevaServlet</servlet-name>
        <url-pattern>/odobravanjeZahteva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoviKorisnikServlet</servlet-name>
        <url-pattern>/noviKorisnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmenaDogadjajaServlet</servlet-name>
        <url-pattern>/izmenaDogadjaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavaServlet</servlet-name>
        <url-pattern>/prijava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavljenBlagajnikServlet</servlet-name>
        <url-pattern>/prijavljenBlagajnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavljenAdministratorServlet</servlet-name>
        <url-pattern>/prijavljenAdministrator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MojeUlazniceServlet</servlet-name>
        <url-pattern>/mojeUlaznice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SacuvajDogadjajServlet</servlet-name>
        <url-pattern>/sacuvajDogadjaj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KategorijeUlaznicaServlet</servlet-name>
        <url-pattern>/kategorijeUlaznica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmenaStruktureServlet</servlet-name>
        <url-pattern>/izmenaStrukture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SacuvajKategorijuServlet</servlet-name>
        <url-pattern>/sacuvajKategoriju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DogadjajPojedinacnoServlet</servlet-name>
        <url-pattern>/dogadjajPojedinacno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SacuvajRezervacijuServlet</servlet-name>
        <url-pattern>/sacuvajRezervaciju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjeStruktureServlet</servlet-name>
        <url-pattern>/brisanjeStrukture</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>PregledBlokiranihKorisnikaServlet</servlet-name>
        <url-pattern>/pregledBlokiranihKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveraRegistrovanogKorisnikaServlet</servlet-name>
        <url-pattern>/proveraRegistrovanogKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PotvrdaRezervacijeServlet</servlet-name>
        <url-pattern>/potvrdaRezervacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveraPrijavljenServlet</servlet-name>
        <url-pattern>/proveraPrijavljen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveraRegistrovanServlet</servlet-name>
        <url-pattern>/proveraRegistrovan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OdjavaServlet</servlet-name>
        <url-pattern>/odjava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromenaLozinkeServlet</servlet-name>
        <url-pattern>/promenaLozinke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoviDogadjajServlet</servlet-name>
        <url-pattern>/noviDogadjaj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SacuvajKorisnikaServlet</servlet-name>
        <url-pattern>/sacuvajKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SacuvajMediaServlet</servlet-name>
        <url-pattern>/sacuvajMedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UcitajMediaServlet</servlet-name>
        <url-pattern>/ucitajMedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediaServlet</servlet-name>
        <url-pattern>/media</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaStrukturaServlet</servlet-name>
        <url-pattern>/novaStruktura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KontrolaServlet</servlet-name>
        <url-pattern>/kontrola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaIzmenaDogadjajaServlet</servlet-name>
        <url-pattern>/novaIzmenaDogadjaja</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
