<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistracijaServlet</servlet-name>
        <servlet-class>obrada.RegistracijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PretragaDogadjajaServlet</servlet-name>
        <servlet-class>obrada.PretragaDogadjajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtkazivanjeRezervacijeServlet</servlet-name>
        <servlet-class>obrada.OtkazivanjeRezervacijeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KupovinaUlaznicaServlet</servlet-name>
        <servlet-class>obrada.KupovinaUlaznicaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoviDogadjajServlet</servlet-name>
        <servlet-class>obrada.NoviDogadjajServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OdobravanjeZahtevaServlet</servlet-name>
        <servlet-class>obrada.OdobravanjeZahtevaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoviKorisnikServlet</servlet-name>
        <servlet-class>obrada.NoviKorisnikServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledKorisnikaServlet</servlet-name>
        <servlet-class>obrada.PregledKorisnikaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmenaDogadjajaServlet</servlet-name>
        <servlet-class>obrada.IzmenaDogadjajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrijavaServlet</servlet-name>
        <servlet-class>obrada.PrijavaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaRezervacijaServlet</servlet-name>
        <servlet-class>obrada.NovaRezervacijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SviDogadjajiServlet</servlet-name>
        <servlet-class>obrada.SviDogadjajiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrijavljenRegistrovaniKorisnik</servlet-name>
        <servlet-class>obrada.PrijavljenRegistrovaniKorisnikServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrijavljenBlagajnikServlet</servlet-name>
        <servlet-class>obrada.PrijavljenBlagajnikServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrijavljenAdministratorServlet</servlet-name>
        <servlet-class>obrada.PrijavljenAdministratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistracijaServlet</servlet-name>
        <url-pattern>/registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PretragaDogadjajaServlet</servlet-name>
        <url-pattern>/pretragaDogadjaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtkazivanjeRezervacijeServlet</servlet-name>
        <url-pattern>/otkazivanjeRezervacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KupovinaUlaznicaServlet</servlet-name>
        <url-pattern>/kupovinaUlaznica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoviDogadjajServlet</servlet-name>
        <url-pattern>/noviDogadjaj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OdobravanjeZahtevaServlet</servlet-name>
        <url-pattern>/odobravanjeZahteva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoviKorisnikServlet</servlet-name>
        <url-pattern>/noviKorisnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledKorisnikaServlet</servlet-name>
        <url-pattern>/pregledKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmenaDogadjajaServlet</servlet-name>
        <url-pattern>/izmenaDogadjaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavaServlet</servlet-name>
        <url-pattern>/prijava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaRezervacijaServlet</servlet-name>
        <url-pattern>/novaRezervacija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> SviDogadjajiServlet</servlet-name>
        <url-pattern>/sviDogadjaji</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavljenRegistrovaniKorisnik</servlet-name>
        <url-pattern>/prijavljenRegistrovaniKorisnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavljenBlagajnikServlet</servlet-name>
        <url-pattern>/prijavljenBlagajnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavljenAdministratorServlet</servlet-name>
        <url-pattern>/prijavljenAdministrator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
